.brand-logo {
  height: 100%;
}

.sidenav {
  width: 375px;
}

.sidenav li a {
  font-size: 24px;
}

.sidenav li.logo {
  height: 200px;
}

.sidenav li.logo a {
  height: 150px;
}

.sidenav#slide-out .collapsible-header {
  padding: 0 32px;
}

.sidenav#slide-out .collapsible-body li a {
  padding-top: 10px;
  padding-bottom: 10px;
}

nav .sidenav-trigger .material-icons {
  font-size: 4rem;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
}

.material-icons.bigger {
  font-size: 50px;
}

.drag-target {
  width: 40px;
}

#stats-dropdown {
  min-width: 230px !important;
  top: 64px !important;
}

#stats-dropdown i.material-icons.left {
  margin: 0 10px 0 0;
}

.jumbo {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position-x: center;
}

@media (min-width: 2000px) {
  .jumbo {
    background-position-y: center !important;
    min-height: 1000px;
  }
}

.jumbo.all-star {
  background-image: url('../img/allstar-small.jpg');
  background-position-y: -400px;
}

.jumbo.taylors {
  background-image: url('../img/taylors.jpg');
  background-position-y: -400px;
}

.jumbo.diques {
  background-image: url('../img/diques.jpg');
  background-position-y: -125px;
}

.jumbo.americans {
  background-image: url('../img/americans.jpg');
}

.jumbo.broadcast {
  background-image: url('../img/broadcast.jpeg');
  background-position-y: -200px;
}

.jumbo.champions {
  background-image: url('../img/champions.jpg');
  background-position-y: -100px;
}

.jumbo.weaver {
  background-image: url('../img/weaver.jpg');
  background-position-y: -250px;
}

.jumbo.stars {
  background-image: url('../img/stars.JPG');
}

@media (max-width: 1024px) {
  .jumbo {
    background-position-y: center !important;
  }
}

.card-row {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.card-row .card {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .flow-text {
    font-size: initial !important;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.podcast-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
