.brand-logo {
    height: 100%;
}

.sidenav li {
    line-height: 60px;
}

.sidenav li.logo {
    height: 150px;
}

.sidenav li.logo a {
    height: 150px;
}

.sidenav#slide-out .collapsible-header {
    padding: 0 32px;
}

nav .sidenav-trigger .material-icons {
    font-size: 4rem;
}

#stats-dropdown {
    min-width: 230px !important;
    top: 64px !important;
}

#stats-dropdown i.material-icons.left {
    margin: 0 10px 0 0;
}

.jumbo {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    /* background-position-y: 60%;
    height: 300px; */
}

.jumbo.all-star {
    background-image: url('../img/allstar-small.jpg');
    background-position-y: -400px;
}

.jumbo.taylors {
    background-image: url('../img/taylors.jpg');
    background-position-y: -400px;
}

.jumbo.diques {
    background-image: url('../img/diques.jpg');
    background-position-y: -125px
}

.jumbo.americans {
    background-image: url('../img/americans.jpg');
}

.jumbo.broadcast {
    background-image: url('../img/broadcast.jpeg');
    background-position-y: -200px;
}

.jumbo.champions {
    background-image: url('../img/champions.jpg');
    background-position-y: -100px;
}

@media screen and (max-width: 992px) {
    .jumbo {
        background-position-y: center !important;
    }
}

.card-row {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.card-row .card {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}